.container {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  position: absolute;
}

.box {
  position: absolute;
  cursor: grab;
  margin : 10px;
  padding : 10px;
}

.box-inner-container {
  border : 1px solid #1C6EA4;
  background-color: white;
}
.box-inner-container:hover {
  background-color: #f0efef;
}

.box-header {
  padding : 10px;
  padding-left : 60px;
  padding-right : 60px;
  background-color: #e2e0e0;
}
.box-detail {
  border-top : 1px solid #1C6EA4;
  top : 0;
  padding : 10px;
}
.box-detail-container {
  position: relative;
  height: 100px;
}